body {
  font-family: Arial, sans-serif;
  background: #d2d2d2;
  margin: 10px;
}

.navbar {
  background: #ffffff;
  padding: 15px;
  text-align: center;
}

.post {
  background: white;
  padding: 15px;
  width: 300px;
  border-radius: 5px;
}